.app-title {
   text-align: center;
 }


 .rows {
   display: flex;
   border: solid gray;
   background-color: ghostwhite;
 }

.room-list {
   background-color: green;
   border: solid gray;
   border-radius: 5px;
   width: 30%;
   margin: 0.7em;
 }

 .message-list {
    background-color: pink;
    border: solid gray;
    border-radius: 5px;
    width: 70%;
    margin: 0.7em;
  }
